/*
==UserCSS==
@name Github
@description Use Ubuntu for text and JetBrains Mono for code on GitHub.
@author Ahmed Ghanem
@version 1.0.0
@match *://*.github.com/*
==/UserCSS==
*/

body,
.markdown-body {
  font-family: "Ubuntu", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

tt,
code,
samp,
.blob-code-inner,
.react-blob-textarea,
#read-only-cursor-text-area {
  font-family: 'JetBrains Mono', 'TX-02 Semibold SemiCondensed', 'SFMono-Regular', 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
